{block content}
<div id="content">
	<h2>Obsah</h2>
	<p>
	{if $user->loggedIn}
	Přihlášen, {$user->identity->username}<br />
	Role: {foreach $user->roles as $role}{$role}{sep}, {/sep}{/foreach}
	<p><a n:href="Sign:out">Odhlásit</a></p>
	{else}
	Nepřihlášen ... <a n:href="Sign:in">Přihlásit</a>
	{/if}
	</p>
</div>
{/block}

{block scripts}
<!-- scripts -->
{include parent}
{/block}

{block head}
{/block}
