{block content}
{if $method == 'POST'}
	SI: {$si_number}
	Clear:  {$tm_clear}
	Check:  {$tm_check}
	Start:  {$tm_start}
	Finish: {$tm_finish}
	{foreach $punches as $punch}
	K{$iterator->counter}: {$punch['cn']} ... {$punch['time']}
	{/foreach}
{else}
	Method {$method} not supported.
{/if}
