body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

.formtable td,th {
	padding: 1px 5px 1px 5px;
	height: 30px;
}

.CPtemplate {
	display: None;
}

.glyphicon-plus {
    color: green; 
}
.glyphicon-edit {
	color: blue;
}
.glyphicon-minus, .glyphicon-remove {
    color: red; 
}

